body {
  background-image: url("https://as1.ftcdn.net/v2/jpg/03/05/89/66/500_F_305896627_1UDJL7lo2xt28j2Iy3Mv20oxgwMsnJVe.jpg");
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.features { 
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .feature {
    background-color: rgb(250, 242, 244);
    border-radius: 50px 20px;
    border: solid 5px rgb(53, 39, 19);
    margin: 10px;
    padding: 15px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;

  }

  .feature h2 {
    font-size: 35px;
    text-align: center;
  }

  .feature p {
    text-align: center;
  }
  
  .calculator {
    background-color: #e3f5f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .input-group {
    margin-bottom: 20px;
  }
  input[type="text"] {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #0056b3;
  }
  #result {
    margin-top: 20px;
  }
  .clear-button {
    background-color: #dc3545;
  }
  .clear-button:hover {
    background-color: #c82333;
  }
  label {
    color: #555;
  }
  p {
    color: #333;
  }


