{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel lime lighten-5">
            <h3 class="center-align teal-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<section class="features">
    <div class="feature">
        <a href="{{ url_for('wellbeing') }}">
            <h2>Wellbeing</h2>
        </a>
        <p>From guided meditation sessions to stress management techniques,
            our app provides comprehensive support to help users achieve optimal wellness and lead fulfilling lives.</p>
    </div>
    <div class="feature">
        <a href="{{ url_for('diet') }}">
            <h2>Food & Diet</h2>
        </a>
        <p>Explore nutrition science, culinary inspiration, and
            offering practical tips to support users in making informed choices for their health and enjoyment.</p>
    </div>
    <div class="feature">
        <a href="{{ url_for('sport') }}">
            <h2>Sport & Exercise</h2>
        </a>
        <p>Insights, tips, and reflections on physical activity, training regimens,
            and the impact of sports on overall health and well-being.</p>
    </div>
    <div class="feature">
        <a href="#">
            <h2>Mood Tracker</h2>
        </a>
        <p>Monitor your emotional well-being and track patterns over time with our intuitive mood tracker feature.</p>
    </div>
    <div class="feature">
        <a href="{{ url_for('health') }}">
            <h2>Your Health</h2>
        </a>
        <p>Medical advice, wellness strategies, and personal stories,
            empowering users to prioritise and enhance their physical and mental well-being.</p>
    </div>
    <div class="feature">
        <a href="https://www.womenshealthmag.com/uk/">
            <h2>Community Support</h2>
        </a>
        <p>Connect with like-minded individuals, share experiences, and gain insights from a supportive community of
            diary enthusiasts.</p>
    </div>
</section>
{% endblock %}