{% extends "base.html" %}
{% block content %}


<section class="features">
    <div class="feature">
        <a href="{{ url_for('wellbeing') }}"><h2>Wellbeing</h2></a>
        <p>From guided meditation sessions to stress management techniques, 
            our app provides comprehensive support to help users achieve optimal wellness and lead fulfilling lives.</p>
    </div>
    <div class="feature">
        <a href="">
        <h2>Food & Diet</h2></a>
        <p>Explore nutrition science, culinary inspiration, and 
            offering practical tips to support users in making informed choices for their health and enjoyment.</p>
    </div>
    <div class="feature">
        <a href="">
        <h2>Sport & Exercise</h2></a>
        <p>Insights, tips, and reflections on physical activity, training regimens, 
            and the impact of sports on overall health and well-being.</p>
    </div>
    <div class="feature">
        <a href="#">
        <h2>Mood Tracker</h2></a>
        <p>Monitor your emotional well-being and track patterns over time with our intuitive mood tracker feature.</p>
    </div>
    <div class="feature">
        <a href="#">
        <h2>Your Health</h2></a>
        <p>Medical advice, wellness strategies, and personal stories, 
            empowering users to prioritise and enhance their physical and mental well-being.</p>
    </div>
    <div class="feature">
        <a href="#">
        <h2>Community Support</h2></a>
        <p>Connect with like-minded individuals, share experiences, and gain insights from a supportive community of
            diary enthusiasts.</p>
    </div>
</section>

    <h3 class="light-blue-text text-darken-4 center-align">All Entries</h3>


    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text cyan lighten-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green-accent-4">Done</a>
                    <a href="{{ url_for('edit_task', task_id=task._id)}}" class="btn-small green-accent-4">Edit</a>
                </div>
                <div class="col s9">
                    <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                    {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" 
                        data-position="right" data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
            

{% endblock %}